@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

body,pre {
    font-family: 'DM Mono', monospace;
}

.whole {
    display: flex;
    flex: 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainheading {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

.current-heading {
    display: flex;
    font-weight: bold;
    margin-top: -70px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#current, .icon {
    width: 25px;
}

.o {
    display: none;
}

.ttt-grid {
    background-color: black;
    display: inline-block;
    width: 370px;
    height: 370px;
}

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
}

.ttt-box {
    background-color: white;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.warning, pre {
    font-size: 9px;
    color: red;
}

.reset {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .ttt-grid {
        width: 310px;
        height: 310px;
    }
    .ttt-box {
        background-color: white;
        width: 100px;
        height: 100px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}