@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

body {
    font-family: 'DM Mono', monospace;
}

.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainheading {
    text-align: center;
    font-size: 40px;
}

.current-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

#current {
    margin-left: 20px;
}

.ttt-grid {
    background-color: black;
    display: inline-block;
    width: 460px;
    height: 460px;
    margin: 20px 25vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
}

.ttt-box {
    background-color: white;
    width: 150px;
    height: 150px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.warning {
    font-size: 10px;
    color: red;
    margin-left: 20px;
}

.reset {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .ttt-grid {
        width: 310px;
        height: 310px;
    }
    .ttt-box {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
}